@charset "UTF-8";
* {
    padding: 1%;
    margin: 0%;
    color: gray;
}

h1 {
    color: blue;
}

nav,
section {
    margin: 10px, 20px;
}

.beverage {
    padding: 10px;
}

.beverage>img {
    float: left;
    margin-right: 20px;
}

.beverage.red {
    background-color: rgba(0, 200, 200, 0.2);
}

.beverage.green {
    background-color: rgba(0, 255, 00, 0.2);
    border: 3px solid black
}

.beverage.pink {
    background-color: rgba(150, 0, 0, 0.2);
}

.beverage.blue {
    background-color: rgba(10, 0, 200, 0.2);
}

h3:hover {
    font-weight: 200;
}

h3:active {
    color: red;
}

.celler {
    border-radius: 50%;
}

body {
    /* background-image: url("../images/Landscape.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-color: white; */
    /* background: url("../images/Landscape.jpg") bottom/ 100% no-repeat fixed lightgrey; */
}

.menu>li {
    float: left;
    background-color: rgb(230, 230, 164);
    list-style-type: none;
    width: 200px;
    height: 50px;
    text-align: center;
    margin-right: 5px;
}

.menu {
    margin-bottom: 10px;
}

.celler {
    clear: both;
}